{% extends "bootstrap/base.html" %}

{% block style %} {% endblock %}

{% block body %}

<!-- content of the sidebar -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn item" onclick="closeNav()">&times;</a>
  <a class="item" id="side-title">Account</a>
  <a class="item" id="side-sub">Premium</a>

  <a href="#">
    <img src="static/assets/icons/settings.png" alt="Home" width="20" height="20" class="d-inline-block align-text-center vertical-align">
    Settings</a>
  <a href="#">
    <img src="static/assets/icons/shield-lock.png" alt="Home" width="20" height="20" class="d-inline-block align-text-center vertical-align">
    Security</a>
  <a href="#">
    <img src="static/assets/icons/calendar.png" alt="Home" width="20" height="20" class="d-inline-block align-text-center vertical-align">
    Subscription</a>
  <a href="#">
    <img src="static/assets/icons/question.png" alt="Home" width="20" height="20" class="d-inline-block align-text-center vertical-align">
    Support</a>
</div>

<!-- everything in this div will be pushed aside -->
<div id="main">
  <nav class="navbar">
    <div class="container-fluid">
      <a id="logo" class="navbar-brand" href="#">
        <img src="static/assets/logo.png" alt="codeGenie() Logo" width="40" height="40" class="d-inline-block align-text-middle">
        code<mark>Genie</mark>()
      </a>
      <a onclick="openNav()">
        <img src="static/assets/icons/home.png" alt="Home" width="23" height="23" class="d-inline-block align-text-center vertical-align">
        username
      </a>
    </div>
  </nav>
</div>



{% endblock %}