{% extends "bootstrap/base.html" %}

{% block style %} {{ codemirror.include_codemirror() }} {% endblock %}

{% block body %}

<!-- ------------------------- SIDEBAR ------------------------- -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn item" onclick="closeNav()">
    <img src="static/assets/icons/chevrons-right.png" alt="chevrons" width="15" height="15" class="d-inline-block align-text-center vertical-align chev-btn">
  </a>

  <!-- ------------------------ Sidebar Head -->
  <div class="row">

    <!-- ------------- Headlines -->
    <div class="col-6">
      <a class="item" id="side-lan">Language</a>
      <a class="item" id="side-det">detected</a>
    </div>

    <!-- ------------- Language Icon -->
    <div class="col-6 language-icon">
      <img src="static/assets/icons/python.png" alt="Python" width="30" height="30" class="d-inline-block align-text-center vertical-align chev-btn">
    </div>

  </div>

  <!-- ------------------------ Language Selection -->
  <div>
    <select class="form-select language-select" id="inputGroupSelectLanguage">
      <option selected>Choose Language</option>
      <option value="Python">Python</option>
      <option value="Java">Java</option>
      <option value="C">C</option>
    </select>
  </div>

  <!-- ------------------------ Functionalities -->
  <button class="btn codeg-menu codegenie">
    code.<mark class="codeg-func">explain</mark>()
    <div class="func-desc">Explain what this code is doing.</div>
  </button>
  <button class="btn codeg-menu codegenie">
    code.<mark class="codeg-func">optimise</mark>()
    <div class="func-desc">Optimise the code for runtime behavior and best practice standards.</div>
  </button>
  <button class="btn codeg-menu codegenie">
    code.<mark class="codeg-func">fix_bugs</mark>()
    <div class="func-desc">Fixes common bugs in your code.</div>
  </button>
  <button class="btn codeg-menu codegenie">
    code.<mark class="codeg-func">docs</mark>()
    <div class="func-desc">Generate documentation for your code.</div>
  </button>
  <button class="btn codeg-menu codegenie">
    code.<mark class="codeg-func">convert</mark>()
    <div class="func-desc">Convert your code into another language.</div>
  </button>

  <!-- ------------------------ Info Point -->
  <a href="#" class="item" id="info-point">
    <img src="static/assets/icons/info.png" alt="Info" width="18" height="18" class="d-inline-block align-text-center">
  </a>

</div>


<!-- everything in this div will be pushed aside -->
<div id="main">

  <!-- ------------------------- NAVIGATION BAR ------------------------- -->
  <nav class="navbar">
      <div class="container-fluid">

        <!-- ------------- Logo -->
        <a id="logo" class="navbar-brand" href="#">
          <img src="static/assets/logo.png" alt="codeGenie() Logo" width="40" height="40" class="d-inline-block align-text-middle">
          code<mark>Genie</mark>()
        </a>

        <!-- ------------------------ Navbar items -->
        <ul class="nav justify-content-end">

          <!-- ------------- File Selection-->
          <li class="nav-item">
            <button type="button" class="nav-link navigation-link btn btn-outline-light">
              <img src="static/assets/icons/file-code.png" alt="code-file-select" width="18" height="18" class="d-inline-block align-text-center vertical-align">
              fizz_buzz.py
            </button>
          </li>

          <!-- ------------- GitHub integration-->
          <li>
            <a href="#" class="nav-link navigation-link">
              <img src="static/assets/icons/github.png" alt="GitHub Integration" width="18" height="18" class="d-inline-block align-text-center vertical-align">
              gituser/FizzBuzz-Rep
            </a>
          </li>

          <!-- ------------- Home -->
          <li>
            <a href="{{ url_for('home') }}" class="nav-link navigation-link">
              <img src="static/assets/icons/home.png" alt="Home" width="18" height="18" class="d-inline-block align-text-center vertical-align">
              Home
            </a>
          </li>

          <!-- ------------- Functionalities -->
          <li>
            <a onclick="openNav()" class="nav-link navigation-link">
              <img src="static/assets/icons/flame.png" alt="Functionalities" width="18" height="18" class="d-inline-block align-text-center vertical-align">
              Functions
            </a>
          </li>
        </ul>

      </div>
    </nav>

  <!-- ------------------------- PAGE CONTENT ------------------------- -->
    <div class="row">

      <!-- ------------------------ CodeMirror -->
      <div class="col-6">
        <form method="POST">
          <div id="code-field">
            {{ code_form.csrf_token }}
            {{ code_form.source_code }}
          </div>

          <input type="submit" value="OK">
        </form>
      </div>

      <!-- ------------------------ Info Tiles -->
      <div class="col-6">
        <div class="info-tile">

          <!-- ------------- Info Tile Headline -->
          <div class="info-tile-head">
            <img src="static/assets/icons/flame.png" alt="Logo" width="25" height="25" class="d-inline-block align-text-center">
            code.<mark class="codeg-func">explain</mark>()
            <a href="#" class="close-tile">&times;</a>
          </div>

          <!-- ------------- Info Tile Content -->
          <div class="info-tile-content">
            <p>The code defines a function fizz_buzz(n) that takes in a single argument n, which represents the number up to which the Fizz Buzz sequence should be generated. The function uses a for loop to iterate through the range of numbers from 1 to n+1. For each number in the range, the code uses a set of if-elif-else statements to determine whether the number should be printed as "Fizz", "Buzz", "FizzBuzz", or the number itself.</p>
            <ul>
              <li>If i is divisible by 15 (i.e., the remainder when i is divided by 15 is 0), the code prints "FizzBuzz".</li>
              <li>If i is divisible by 3 but not by 15, the code prints "Fizz".</li>
              <li>If i is divisible by 5 but not by 15 or 3, the code prints "Buzz".</li>
              <li>If i is not divisible by either 3 or 5, the code simply prints the number itself.</li>
            </ul>
            <p>
              Finally, the function is called with an argument of 100, which generates the Fizz Buzz sequence up to 100.
            </p>
          </div>

          <!-- ------------- Info Tile Footer -->
          <div class="info-tile-footer">
            <a href="#">
              <img src="static/assets/icons/bookmark-add.png" alt="Logo" width="18" height="18" class="d-inline-block">
              Save information
            </a>
            <a href="#">
              <img src="static/assets/icons/more-vertical.png" alt="Logo" width="15" height="15" class="d-inline-block" id="more-vertical">
            </a>
          </div>

        </div>
      </div>
    </div>


</div>

{% endblock %}