{% extends "bootstrap/base.html" %}

{% block style %} {{ codemirror.include_codemirror() }} {% endblock %}

{% block body %}

<!-- ------------------------- SIDEBAR ------------------------- -->

<div id="mySidenav" class="sidenav no-animation">
  <a href="javascript:void(0)" class="closebtn item" onclick="closeNav()">
    <img src="static/assets/icons/chevrons-right.png" alt="chevrons" width="15" height="15" class="d-inline-block align-text-center vertical-align chev-btn">
  </a>

  <!-- ------------------------ Sidebar Head -->
  <div class="row">

    <!-- ------------- Headlines -->
    <div class="col-6">
      <a class="item" id="side-lan">Language</a>
      <a class="item" id="side-det"></a>
    </div>

    <!-- ------------- Language Icon -->
    <div class="col-6 language-icon">
      {% if selected_language == 'Python' %}
        <img src="static/assets/icons/languages/python.png" alt="Python" width="30" height="30" class="d-inline-block align-text-center vertical-align chev-btn">
      {% elif selected_language == 'Java' %}
        <img src="static/assets/icons/languages/java.png" alt="Python" width="30" height="30" class="d-inline-block align-text-center vertical-align chev-btn">
      {% elif selected_language == 'C' %}
        <img src="static/assets/icons/languages/C.png" alt="Python" width="30" height="30" class="d-inline-block align-text-center vertical-align chev-btn">
      {% endif %}
    </div>

  </div>

  <!-- ------------------------ Language Selection -->
  <div>
    <form id="inputGroupFormLanguage">
      <select class="form-select " id="inputGroupSelectLanguage" name="language-options">
        <option value="default" {% if selected_language == "none" %}selected {% endif %}>Choose Language</option>
        <option value="Python" {% if selected_language == "Python" %}selected {% endif %}>Python</option>
        <option value="Java" {% if selected_language == "Java" %}selected {% endif %}>Java</option>
        <option value="C" {% if selected_language == "C" %}selected {% endif %}>C</option>
      </select>
    </form>
  </div>

  <!-- ------------------------ Functionalities -->
  <button class="btn codeg-menu FUNC-BTN" id="FUNC-EXPLAIN">
    code.<mark class="codeg-func">explain</mark>()
    <div class="func-desc">Explain what this code is doing.</div>
  </button>
  <button class="btn codeg-menu FUNC-BTN" id="FUNC-OPTIMISE">
    code.<mark class="codeg-func">optimise</mark>()
    <div class="func-desc">Optimise the code for runtime behavior and best practice standards.</div>
  </button>
  <button class="btn codeg-menu FUNC-BTN" id="FUNC-BUG">
    code.<mark class="codeg-func">fix_bugs</mark>()
    <div class="func-desc">Fixes common bugs in your code.</div>
  </button>
  <button class="btn codeg-menu FUNC-BTN" id="FUNC-DOC">
    code.<mark class="codeg-func">docs</mark>()
    <div class="func-desc">Generate documentation for your code.</div>
  </button>
  <button class="btn codeg-menu FUNC-BTN" id="FUNC-CONV">
    code.<mark class="codeg-func">convert</mark>()
    <div class="func-desc">Convert your code into another language.</div>
  </button>

  <!-- ------------------------ Info Point -->
  <a href="#" class="item" id="info-point">
    <img src="static/assets/icons/info.png" alt="Info" width="18" height="18" class="d-inline-block align-text-center">
  </a>

</div>


<!-- everything in this div will be pushed aside -->
<div id="main">

  <!-- ------------------------- NAVIGATION BAR ------------------------- -->
  <div class="top-bar">
    <nav class="navbar">
        <div class="container-fluid">

          <!-- ------------- Logo -->
          <a id="logo" class="navbar-brand" href="#">
            <img src="static/assets/logo.png" alt="codeGenie() Logo" width="40" height="40" class="d-inline-block align-text-middle">
            code<mark>Genie</mark>()
          </a>

          <!-- ------------------------ Navbar items -->
          <ul class="nav justify-content-end">

            <!-- ------------- File Selection-->
            <li class="nav-item">
              <button type="button" class="nav-link navigation-link btn btn-outline-light">
                <img src="static/assets/icons/file-code.png" alt="code-file-select" width="18" height="18" class="d-inline-block align-text-center vertical-align">
                fizz_buzz.py
              </button>
            </li>

            <!-- ------------- GitHub integration-->
            <li>
              <a href="#" class="nav-link navigation-link">
                <img src="static/assets/icons/github.png" alt="GitHub Integration" width="18" height="18" class="d-inline-block align-text-center vertical-align">
                gituser/FizzBuzz-Rep
              </a>
            </li>

            <!-- ------------- Home -->
            <li>
              <a href="{{ url_for('home') }}" class="nav-link navigation-link">
                <img src="static/assets/icons/home.png" alt="Home" width="18" height="18" class="d-inline-block align-text-center vertical-align">
                Home
              </a>
            </li>

            <!-- ------------- Functionalities -->
            <li>
              <a onclick="openNav()" class="nav-link navigation-link">
                <img src="static/assets/icons/flame.png" alt="Functionalities" width="18" height="18" class="d-inline-block align-text-center vertical-align">
                Functions
              </a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

  <!-- ------------------------- PAGE CONTENT ------------------------- -->
    <div class="page-content">

      <div class="row">

          <!-- ------------------------ CodeMirror -->
          <div class="col-6">
            <form method="POST" id="CodeMirror">
              <div id="code-field">
                {{ code_form.csrf_token }}
                {{ code_form.source_code }}
              </div>

              <input type="submit" id="CALL-FUNCTION" style="display:none">
            </form>
          </div>

          <!-- ------------------------ Info Tiles -->

            <div class="col-6 container tile-container">

              <!-- Flask-Flash messages -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages: %}
                  <div class="info-tile">

                    <!-- ------------- Info Tile Headline -->
                    <div class="info-tile-head">
                      <a href="#" class="close-tile">&times;</a>
                    </div>

                    <!-- ------------- Info Tile Content -->
                    <div class="info-tile-content">
                      <p class="error-flash">{{ message }}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}


            {% if tiles: %}
              {% for tile in tiles %}

              <div class="info-tile tile">

                <!-- ------------- Info Tile Headline -->
                <div class="info-tile-head">
                  <img src="static/assets/icons/flame.png" alt="Logo" width="25" height="25" class="d-inline-block align-text-center">
                  code.<mark class="codeg-func">{{tile['title']}}</mark>()
                  <button type="button" class="close-tile" data-id="{{loop.index}}">&times;</button>
                </div>

                <!-- ------------- Info Tile Content -->
                <div class="info-tile-content">
                  {{ tile['content'] }}
                </div>

                <!-- ------------- Info Tile Footer -->
                <div class="info-tile-footer">
                  <a href="#">
                    <img src="static/assets/icons/bookmark-add.png" alt="Logo" width="18" height="18" class="d-inline-block">
                    Save information
                  </a>
                  <a href="#">
                    <img src="static/assets/icons/more-vertical.png" alt="Logo" width="15" height="15" class="d-inline-block" id="more-vertical">
                  </a>
                </div>
              </div>

              {% endfor %}
            {% endif %}

            </div>
        </div>

      </div>

</div>

{% endblock %}